body {
  font-family: Roboto;
  margin: 0;
}

.app {
  height: 100vh;

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: auto 1fr auto;
}

.app .header {
  grid-column: 1/3;
  
}

.app .footer {
  grid-column: 1/3;
  display: none;
}

.grid-main {
  display: grid;
  width: 100%;
  grid-template-columns: 350px auto;
}

.column-left {
  grid-column-start: 1;
  grid-column-end: 1;
  overflow-y: auto;
}

.column-main {
  grid-column-end: 3;
  overflow-y: auto;
  
}

.column-main .container{
  height: calc( 100vh - 27px )!important;
  overflow: hidden;
}

#canvas_wrapper{
  position: relative;
}

.pouet{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}