body {
  font-family: Roboto;
  margin: 0;
}

.app {
  height: 100vh;

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: auto 1fr auto;
}

.app .header {
  grid-column: 1/3;
}

.app .footer {
  grid-column: 1/3;
}

.grid-main {
  display: grid;
  width: 100%;
  grid-template-columns: 350px auto;
}

.column-left {
  grid-column-start: 1;
  grid-column-end: 1;
  overflow-y: auto;
}

.column-main {
  grid-column-end: 3;
  overflow-y: auto;
}