.headerbar {
    background: #444444;
    color: gainsboro;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    height: 26px;
}

.headerbar>div {
    display: inline-flex;
    padding: 0;
    border-right: 1px solid gainsboro;
}

.headerbar div>span {
    font-size: .6em;
}

.infobar {
    background-color: #444444;
    color: gainsboro;
    display: flex;
    border-top: 1px solid gainsboro;
    /*height: 26px;*/
    /*bottom: 0px;
    position: absolute;*/
    /*width: 100%;*/
}

.infobar>div {
    display: flex;
    padding: 0;
    border-right: 1px solid gainsboro;
}


.infobar>div>i {
    padding: .4em .4em 0em .4em;
}

.infobar>div span {
    font-size: .6em;
    padding: .6em .4em 0em .4em;
}

.infobar input {
    border: 0;
    margin: .4em .4em 0em .4em;
    height: 2.2em;
    font-size: 8px;
    border-radius: 3px;
    color: black;
}

.infobar input[type="text"] {
    width: 140px;
}

.infobar input[type="number"] {
    width: 34px;
}

.btn-bar {
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    color: rgb(175, 175, 175);
    display: inline-block;
}

.btn-bar.npl {
    padding-left: 3px;
}
.btn-bar.npr {
    padding-right: 3px;
}

.btn-bar:hover,
.btn-bar:focus {
    text-decoration: none;
    outline: none;
    color: white;
}

.btn-bar>span {
    font-size: 12px;
    display: block;
    color: white;
}

.active {
    color: green;
}

.active:hover {
    color: chartreuse;
}

.inactive {
    color: orangered;
}

.inactive:hover {
    color: red;
}

.deactivated {
    color: darkgrey;
    cursor: default;
}

.deactivated:hover {
    color: darkgrey;
}