.fab-toolbar {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    margin: 6px;
}

.fab-toolbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.fab-toolpanels {
    z-index: 6;
    position: absolute;
    top: 40px;
    padding: 12px;
}

.fab-floatingbar {
    border-radius: 3px;
    box-shadow: 0px 0px 5px #2c2c2c;
    color: white;
    background: #484f61;
}

.fab-infobar {
    background-color: #444444;
    color: gainsboro;
    display: flex;
    border-top: 1px solid gainsboro;
    /*height: 26px;*/
    /*bottom: 0px;
    position: absolute;*/
    /*width: 100%;*/
}

.fab-infobar>div {
    display: flex;
    padding: 0;
    border-right: 1px solid gainsboro;
}


.fab-infobar>div>i {
    padding: .4em .4em 0em .4em;
}

.fab-infobar>div span {
    font-size: .6em;
    padding: .6em .4em 0em .4em;
}

.fab-infobar input {
    border: 0;
    margin: .4em .4em 0em .4em;
    height: 2.2em;
    font-size: 8px;
    border-radius: 3px;
    color: black;
}

.fab-infobar input[type="text"] {
    width: 140px;
}

.fab-infobar input[type="number"] {
    width: 34px;
}